{% extends "base.html.twig" %}

{% block title %}
    Modifier la catégorie: {{ category.name }}
{% endblock %}

{% block body %}

    <h1>Modifier la catégorie</h1>
    <h2>{{ category.name }}</h2>

    {% include "shared/_category-form.html.twig" with {
        'buttonText': 'Modifer la catégorie',
    } %}
{% endblock %}