<div class="list-group">
  <a href="{{ path("product_create") }}" class="list-group-item list-group-item-action">Nouveau produit</a>
  <a href="{{ path("category_create") }}" class="list-group-item list-group-item-action">Nouvelle catégorie</a>
</div>