{% extends "base.html.twig" %}

{% block title %}
    Modifier le produit: {{ product.name }}
{% endblock %}

{% block body %}

    <h1>Modifier un produit</h1>
    <h2>{{ product.name }}</h2>

    {% include "shared/_product-form.html.twig" with {
        'buttonText': 'Modifier le produit'
    } %}
{% endblock %}