{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Nos meilleurs produits</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "shared/_product-card.html.twig" with {
					'mainPicture': product.mainPicture,
					'productName': product.name,
					'categoryName': product.category.name,
					'price': product.price,
					'shortDescription': product.shortDescription,
					'urlShow': path('product_show', {
						'category_id': product.category.id ?: '00',
						'category_slug': product.category.slug,
						'product_id': product.id,
						'product_slug': product.slug,
					}),
				} %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h1>Un service irréprochable !</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis voluptatum alias placeat officiis quibusdam ipsam officia similique. Nemo totam nisi voluptatum nam dolorum architecto. Sequi inventore dolorum sapiente quasi?</p>

	<div class="row">
		{% include "shared/_assurance.html.twig" with {
                'color': 'primary',
                'icon': 'fas fa-truck',
                'text': 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, iste aut praesentium animi minus beatae.'
            } %}
		{% include "shared/_assurance.html.twig" with {
                'color': 'success',
                'icon': 'fas fa-check',
                'text': 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, iste aut praesentium animi minus beatae.'
            } %}
		{% include "shared/_assurance.html.twig" with {
                'color': 'warning',
                'icon': 'fas fa-lock',
                'text': 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia, iste aut praesentium animi minus beatae.'
            } %}
	</div>
{% endblock %}
