<div class="alert alert-success" style="text-align: center; margin: 0;">
    <strong>Ce shop créé avec Symfony est une démo.</strong> Connexion admin: <b>admin@local.com</b> (mdp: password). Accès: /admin
</div>