{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="alert alert-danger">
            <strong>Vous êtes déjà connecté !</strong>
        </div>
    {% else %}

        {% if isCreated == 1 %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Votre compte a bien été créé !</strong>
            <a href=" {{ path("security_login") }} " class="alert-link">Se connecter.</a>.
        </div>
        {% endif %}

        <h1>Inscription</h1>

        {{ form_start(formView) }}

        {{ form_widget(formView) }}

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            S'incscrire
        </button>
        {{ form_end(formView) }}

    {% endif %}

{% endblock %}
