{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% if app.user %}
        <div class="alert alert-danger">
            <strong>Vous êtes déjà connecté !</strong>
        </div>
    {% else %}

        <h1>Inscription</h1>

        {{ form_start(formView) }}

        {{ form_widget(formView) }}

        <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
            S'incscrire
        </button>
        {{ form_end(formView) }}

    {% endif %}

{% endblock %}
